<app-header></app-header>

<ion-content>
    <section class="content">
        <div class="qr_code_div animated fadeInLeft fast">
            <ngx-qrcode
            [qrc-element-type] = "canvas"
            [qrc-value] = "qrData" 
            qrc-version="12"
            >
        </ngx-qrcode>
        <div class="description_div animated fadeInRight fast">
            <p class="description">Действует во всех <br/>заведениях-партнерах <span class="TapWord">Tap&nbsp;</span><span class="TakeWord">& Take</span></p>
        </div>
        </div>
        <div class="qr_code animated fadeInDown fast" id="qr_code" (click)="goHome()">
            <img src="../../assets/img/qr/close.svg" alt="" class="toolbar_img">
        </div>
    </section>
</ion-content>
