<app-header></app-header>

<ion-content>
  <ion-row class="title animated fadeIn fast">
    <h4>Ваши бизнесы</h4>
  </ion-row>
  <section class="main_section">
    <ion-row class="card_add_button animated fadeInRight fast" (click)="goCreateCoffehouse()">
      <div class="pluss"></div>
      <div class="description">Доверьте Ваш бизнес нам!</div>
    </ion-row>
    <ng-container *ngFor="let house of coffeehouses">
      <ion-row class="card_business_main animated fadeInLeft fast" (click)="goCoffehouse(house.coffehousesId)">
        <ion-col class="card_business_main_logo_wraper" size="4">
          <div class="card_business_main_logo"></div>
        </ion-col>
        <ion-col class="card_business_main_titles" size="8">
          <h5 class="name_coffehouse">{{ house.name }}</h5>
          <p class="name_of_counts">К-ство клиентов 
              <span class="count first" #elseBlock>0</span>
          </p>
        </ion-col>
      </ion-row>
    </ng-container>
  </section>
</ion-content>