ion-header{
    height: 110px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow:    0px 4px 10px 0px rgba(0, 0, 0, 0.16);
    box-shadow:         0px 4px 10px 0px rgba(0, 0, 0, 0.16);
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    --ion-font-family:  'FredokaOne-Regular'!important;
    font-family:  'FredokaOne-Regular' !important;
    font-size: 20pt;
}
ion-header:after{
    display: none;
}
.TapWord {
    color: #FAC35E;
}
.TakeWord, .Login{
    color: #484848;
}
// .Login, .Description{
//     margin-left: 25px;
// }
.Login {
    margin-top: 140px;
    font-size: 30pt;
    font-weight: bold;
}
.Description {
    font-size: 14pt;
    color: #A4B0BE;
}
.Email, .Password{
    height: 50px;
    margin-top: 10px;
}
.Email>ion-col, .Password>ion-col{
    height: 100%;
}

.form__label{
    position: absolute;
    top: 17px;
    display: block;
    transition: 0.2s;
    // font-size: 5pt;
    font-size: 10pt;
    color: #A4B0BE;
}
.form__field{
    width: 95%;
    border: none;
    border-bottom: 1px solid #A4B0BE;
    height: 100%;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .form__label {
        font-size: 14pt;
        cursor: text;
    }
}
.form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 10pt;
    //   font-size: 5pt;
      color: #FBA232;
      font-weight: 700;
    } 
    // font-weight: 700;
    border-bottom: 1px solid #FBA232;
    outline: none;
}
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: #A4B0BE;
    margin-top: 5px;
    display: block;
}
.forgot{
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 5px;
}
.forgot>span{
    display: block;
    font-size: 8pt;
    color: #FAC35E;
    font-weight: bold;
}

.rowButton{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.rowButton>ion-button{
    --background: linear-gradient(to right, #FBDC95, #FBA232);
    width: 120px;
    height: 45px;
    --border-radius: 20px;
    font-weight: bold;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.text>span{
    display: block;
    color: #A4B0BE;
}
.text>span:last-child{
    color: #FBA232;
}
.arrow{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    background-image: url('../../assets/img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.text_hide{
    display: none;
}

