h4{
    font-size: 20pt;
    font-weight: bold;
    padding: 20px 0 5px 10px;
}
.section_row_item{
    height: 50px;
    margin-top: 10px;
}
.form__label{
    position: absolute;
    top: 17px;
    display: block;
    transition: 0.2s;
    // font-size: 5pt;
    font-size: 10pt;
    color: #A4B0BE;
}
.form__field{
    width: 95%;
    border: none;
    border-bottom: 1px solid #A4B0BE;
    height: 100%;
    color: #484848;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .form__label {
        font-size: 14pt;
        cursor: text;
    }
}
.form__field:focus {
    ~ .form__label {
      position: absolute;
      top: -5px;
      display: block;
      transition: 0.2s;
      font-size: 10pt;
    //   font-size: 5pt;
      color: #FBA232;
      font-weight: 700;
    } 
    // font-weight: 700;
    border-bottom: 1px solid #FBA232;
    outline: none;
}
.form__field:not(:placeholder-shown){
    ~ .form__label {
        position: absolute;
        top: -5px;
        display: block;
        transition: 0.2s;
        font-size: 10pt;
      //   font-size: 5pt;
        color: #FBA232;
        font-weight: 700;
    }
    border-bottom: 1px solid #FBA232;
}
input[type="tel"]:focus::placeholder{
    color: #484848;
    font-size: 14pt;
}
.form__field{
    &:required,&:invalid { border-bottom: 1px solid red; }
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: #A4B0BE;
    margin-top: 5px;
    display: block;
}
input[type="date"]{
    background: none;
}
.date_label{
    color: #FBA232;
}
.date{
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

ion-datetime {
    padding: 10px 0 5px 0;
    width: 95%;
    border-bottom: 1px solid #A4B0BE;
    font-size: 14pt;
    --placeholder-color: #A4B0BE;
}
ion-datetime:not(::placeholder){
    color: #484848;
}