<app-header></app-header>

<ion-content>
  <section class="forgot_section">
    <ion-row class="forgot_section_item animated fadeInLeft fast">
      <h4>Восстановление</h4>
    </ion-row>
    <ion-row class="forgot_section_item animated fadeInLeft fast">
      <p>Введите пожалуйста вашу почту</p>
    </ion-row>
    <ion-row class="forgot_section_item Email animated fadeInRight fast">
      <ion-col size="1" class="icons">
        <i class="far fa-envelope"></i>
      </ion-col>
      <ion-col>
        <input type="text" class="form__field" placeholder="Email" name="emailInp" id='emailInp'
          pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
        <label for="emailInp" class="form__label">Email</label>
      </ion-col>
    </ion-row>
    <ion-row class="rowButton animated fadeInLeft fast">
      <ion-button (click)="goHome()">Продолжить
        <div class="arrow">
        </div>
      </ion-button>
    </ion-row>
    <ion-row class="text animated fadeInDown fast" id="text">
      <span>Возникли проблемы?&nbsp;</span><span>Тех. поддержка</span>
    </ion-row>
  </section>
</ion-content>