<div class="alert animated fadeIn faster">
  <ion-row class="alert_title">
    <ion-col class="title">
      <p class="bold p_title">Выберите вариант регистрации</p>
    </ion-col>
  </ion-row>
  <ion-row class="alert_body">
    <ion-col>
      <div class="customer_div business">
      </div>
    </ion-col>
    <ion-col>
      <div class="client_div client">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="alert_footer">
    <ion-col>
      <p class="p_footer business">Бизнес</p>
    </ion-col>
    <ion-col>
      <p class="p_footer client">Клиент</p>
    </ion-col>
  </ion-row>
</div>

<div class="background_opacity" (click)="closeModal()">

</div>