<div class="alert animated fadeIn faster">
  <ion-row class="alert_title">
    <ion-col class="title">
      <p class="bold p_title">Выберите вариант регистрации</p>
    </ion-col>
  </ion-row>
  <ion-row class="alert_body">
    <ion-col>
      <div class="customer_div business animated fadeIn fast">
      </div>
    </ion-col>
    <ion-col>
      <div class="client_div client animated fadeIn fast">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="alert_footer">
    <ion-col>
      <p class="p_footer business animated fadeIn fast">Бизнес</p>
    </ion-col>
    <ion-col>
      <p class="p_footer client animated fadeIn fast">Клиент</p>
    </ion-col>
  </ion-row>
</div>

<div class="background_opacity" (click)="closeModal()">

</div>