<div class="alert animated fadeIn faster">
  <ion-row class="alert_header">
    <h4>Введите код</h4>
  </ion-row>
  <ion-row class="alert_body">
    <input type="number" class="input_form" placeholder="Код подтверждения"  [(ngModel)]="code" name="code" id='code' maxlength="12">
  </ion-row>
  <ion-row class="description">
    <p><i class="fas fa-exclamation-circle"></i>&#32;Вам на почту был отпрален код, пожалуйста введите его, в течении 10 минут.</p>
  </ion-row>
  <ion-row class="alert_footer">
    <ion-button class="submit_button" (click)="sendCode()">Подтвердить</ion-button>
  </ion-row>
</div>

<div class="background_opacity" (click)="closeModal()">

</div>